@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
}

a {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: rgb(95, 23, 23);
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    background-color: rgb(231, 19, 19);
}